<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sito temperatura e umidit&agrave;</title>
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
    <!-- Load external CSS styles -->
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="/static/js/scripts.js"></script>
    <meta http-equiv="refresh" content="60">
</head>
<body>
    <div class="topnav">
        <a class="active" href="#">Home</a>
        <label style="margin: 7px;" class="switch">
            <input type="checkbox"></input>
            <span id="slider" onclick="themeSwitch()" class="slider round"></span>
        </label>
    </div>
    <div style="padding:16px">
        <h1>Temperatura e umidità interni</h1>
        <h2>Temperatura: {{ temp }} °C</h2>
        <h2>Umidità: {{ hum }} %</h2>
        <h1>Temperatura e umidità esterni (previsti)</h1>
        <h2>Temperatura: {{ predtemp }} °C</h2>
        <h2>Umidità: {{ predhum }} %</h2>

    </div>
    <footer class="cookieadvise">
        <span>Questo sito utilizza cookie funzionali, procedendo con la navigazione consenti il loro utilizzo</span>
        <span><button onclick="closeCookies()">Ok</button></span>
    </footer>
    <!-- Load external JavaScript -->
    <script src="scripts.js"></script>    
</body>
</html>